<!DOCTYPE html>

<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>Dashboard</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script src="https://cdn.tailwindcss.com">
        </script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    </head>

    <body class="bg-blue-900">
        <div class="bg-orange-200 w-full">
            <nav>ALGUMA COISA</nav>
        </div>

    </body>
</html>
